<% last_measure = city.measures.last %>
<% pm25 = last_measure.pm25 %>
<div class='row-fluid'>
  <div class='span2'></div>
  <div class='span8 city'>
    <div class='row-fluid'>
      <div class='span8'>
        <h3><%= city.name %></h3>
      </div>
      <div class='span4'>
        <span class="label-large label-<%= level_class(pm25) %>"><%= level_message(pm25) %></span>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span9'>
        <span class="date"><%= last_measure.date.to_formatted_s(:short) %></span>
      </div>
      <div class='span3'>
        <span class="pm25"><%= format_pm25(pm25) %></span> <span class="unit">µg.m-3</span>
      </div>
    </div>
  </div>
  <div class='span2'></div>
</div>
